html, body{
    margin: 0;
    background-color: lightslategray;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: sans-serif;
    font-size: 200px;
    text-transform: uppercase;
    background-color: red;
    
}



p {
    font-family: sans-serif;
    background-color: yellow;
}