<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Listing</title>
    <link rel="stylesheet" href="../../static/plist.css">
</head>
<body>
  <h1 >Person Listing</h1>
  <p><a href="/person/create">Create New Person</a></p>

  <table class="basic-table">
      <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th></th>
        </tr>
      </thead>
    <tbody>
      <block th:each="person : ${persons}"></th:block>
        <tr>
          <td text="${person.firstName}">First</td>
          <td text="${person.lastName}">Last</td>
          <td text="${person.emailAddress}">first.last@email.com</td>
          <td>
            <a href="'/person/edit/' + ${person.personId}">Edit Person</a>
            <a href="'/person/delete/' + ${person.personId}">Delete Person</a>
          </td>
        </tr>
      </block>
    </tbody>
  </table>
  <block if="${#lists.isEmpty(persons)}">
    <p>No results found.</p>
  </block>
</body>
</html>