<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Listing</title>
    <link rel="stylesheet" href="../../static/list2.css">
</head>
<body>
    <h1 >Company Listing</h1>
    <p><a href="/company/create">Create New Company</a></p>
    <table class="basic-table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        <block>
            <tr>
                <td>
                    <a href="'/company/edit/' + ${company.companyId}">Edit Company</a>
                    <a href="'/company/delete/' + ${company.companyId}">Delete Company</a> 
                </td>
                <td></td>
                <td></td>
                <td>
                
                </td>
            </tr>
        </block>
    </tbody>
</table>
<block if="${#lists.isEmpty(companies)}">
    <p>No results found.</p>
  </block>
</body>
</html>